:root {
    --color-active-links: #a0c6ff;
    --color-error: #a94442;
    --color-neutral-gray: #d0d0d0;
}

header > nav > .container {
    max-width: 1700px;
}

body {
    font-size: .95rem;
    line-height: 1.2;
}

main > .container, main > .container-fluid
{
    padding: 70px 15px 20px;
}

main > .container {
    max-width: 1700px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .navbar form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.navbar form > button.logout:focus,
.navbar form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.navbar form > button.logout:focus {
    outline: none;
}

.breadcrumb {
    background-color: var(--bs-gray-200);
    border-radius: .25rem;
    padding: .75rem 1rem;
}

.breadcrumb-item > a
{
    text-decoration: none;
}

.grid-view .table .linked {
    padding: 0px;
    position: relative;
}

.grid-view .table .linked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in;
}

.grid-view .table .linked:hover::before {
    border-color: var(--color-active-links);
}

.grid-view .table .linked a {
    display: block;
    position: relative;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.grid-view .table .file_link {
    float: right;
}

.issues .accordion .accordion-header button {
    border: 4px solid transparent;
    transition: 0.3s;
}

.issues .accordion .accordion-header button:hover {
    border-color: var(--bs-accordion-active-bg);
}

.issues .accordion .nav-pills {
    display: grid;
    grid-template-columns:
        repeat(12, 1fr); 
    gap: 0px 0px;
}

.issues .accordion .nav-item {
    text-align: center;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    border: 4px solid transparent;
    background-color: var(--bs-gray-200);
    transition: 0.3s;
}

.issues .accordion .nav-item .nav-link {
    padding: 0px;
    margin: 8px;
    color: black;
}

.issues .accordion .nav-item:before {
    left: 0;
}

.issues .accordion .nav-item:hover {
    border-color: var(--bs-accordion-active-bg);
    background: none;
}

#create_object {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.has-error .help-block {
    color: var(--color-error);
}

.another-info {
    color: gray;
}

div.required label.control-label:after {
    content: " *";
    color: red;
}

.new-author {
    margin-bottom: 20px;
}

.filter-date .form-control,
.field-inventorybooksearch-typebook .form-control {
    width: 20%;
}

.form-group .form-control {
    width: 70%;
}

.filter-code {
    display: flex;
}

caption {
    caption-side: bottom;
    padding: 10px;
}

.input-group {
    width: 70%;
}

.view-form .select2-container--krajee-bs5 {
    width: 70% !important;
}

.text-link {
    color:rgb(13, 77, 172);
    outline: none;
    text-decoration:none;
}

.text-link:link {
    color:rgb(13, 77, 172);
}

.text-link:visited {
    color:rgb(13, 77, 172);
}

.text-link:focus {
    text-decoration:underline;
}
  
.text-link:hover {
    text-decoration:underline;
}

.user-link {
    font-weight:650;
}

.user-link:focus {
    text-decoration:underline;
}
  
.user-link:hover {
    text-decoration:underline;
}

.personal-account {
    color: rgba(255, 255, 255, 0.5);
}

.user-account .item-container {
    display: flex;
    align-items: center;
}

.user-account .item-container .accordion-item {
    flex: 1;
}

.btn-delete-trash {
    margin-left: 8px;
}

.btn-delete-trash:hover{
    border: 1px solid var(--color-neutral-gray);
}

.user-account .list-group .list-group-item{
    border-left: none;
    border-right: none;
}

.list-group-item-action {
    cursor: pointer;
}

.user-account .btn-danger {
    font-size: 0.8rem;
}

.btn-bordered {
    border: 1px solid var(--color-neutral-gray);
    border-radius: 5px;
}

.btn-bordered:hover{
    border-color: var(--bs-btn-active-border-color);
}

.search-title {
    text-align: center;
}

.checkbox-filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search {
    display: inline-block;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    border: 2px ridge lightgray;
}

.container-search .form-group {
    margin-bottom: 0px;
}

.field-catalogsearch-search {
    flex-grow:1;
    display: contents;
}

.field-catalogsearch-search .form-control {
    width: 100%;
}

.search-input button {
    margin: 0px 0px 0px -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search-input input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-input {
    justify-content: center;
    margin-bottom: 8px;
}

.find-user .select2-container--krajee-bs5 {
    width: 90% !important;
}

.find-user .accordion {
    width:90%
}

.logbook-block {
    width: 90%;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 16px 20px
}

.accordion-cart-render .giveToLogbook {
    display: inline-block;
}

.alert-custom {
    position: fixed;
    top: 65px;
    left: 20px;
    z-index: 1051; 
    width: 30%;
}

.user-fio {
    cursor: pointer;
}

.user-history-logbook {
    margin-bottom: 16px;
}

.container-content {
    margin-top:24px
}

.advanced-search .form-group .form-control {
    width: 100%;
    padding: 2px 4px;
    margin-right:10px;
}

.advanced-search .select2-selection--single {
    width: auto;
    padding: 2px 30px 2px 4px;
    margin-right:10px;
    height: 100%;
    max-width: 250px;
    min-width: 150px;
}

.advanced-search .advanced-search-raw {
    align-items: center;
    margin: 8px 0px;
    width: 350px;
}

.advanced-search .advanced-search-label {
    margin:0px 10px;
}

.search-author .short-search-author .form-group {
    width: 30px;
}

.search-years .form-group {
    width: 60px;
}

.select2-selection__rendered {
    text-align-last: start;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 9999;
}

.image-file-link {
    margin: 0px;
    height: 1.3em;
}

.edition-history-logbook {
    margin: 20px 0px;
}

.nav-tabs .nav-link {
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-200);
}

.grid_column-serial {
    width: 30px;
}

.nav.nav-tabs.nav-advanced-search {
    margin-top: 20px;
    justify-content: center;
}

.status-edition {
    color:red;
}

.grid-view .action-column {
    width: 50px;
}

.accordion-item .nav-item {
    display: flex !important;
    align-items: center;
}

.accordion-item .nav-link {
    text-align: center;
    flex-grow: 1;
}

.accordion-item .custom-link-file {
    padding: 0px !important;
    align-content: center;
}

.custom-link-file,
.image-file-link {
    transition: .5s;
    margin: 0px 10px;
}

.custom-link-file:hover,
.image-file-link:hover {
    transform: scale(1.25);
}

.seria-view .issues .select2-container--krajee-bs5 {
    width: 25% !important;
}

#infoarticle-type label{
    margin-right: 10px;
}

.field-group-infoarticle-resource .field-group-infoarticle-double-resource {
    align-items: center;
}

.field-group-infoarticle-resource .form-group {
    margin: 0px;
}

.field-infoarticle-source_name .form-control {
    width: 350px;
    margin-right: 10px;
}
.field-infoarticle-source_number .form-control {
    width: 75px;
}

.field-group-infoarticle-resource span {
    margin-right: 10px;
}
